.col-xs-12{
    background-color: #6d7c89;
    height: 20px;
}

.col-xs-1{
    background-color: #6d7c89;
    height: 20px;
}

.col-xs-3.black{
    background-color: black;
    height: 20px;
}
.col-xs-4.grey{
    background-color: #6d7c89;
    height: 20px;
}

.col-xs-4.black{
    background-color: black;
    height: 20px;
}

.col-xs-3.black .row .col-xs-2.black{
    background-color: black;
    height: 20px;
}

.col-xs-3.black .row .col-xs-8.red{
    background-color: red;
    height: 20px;
}